.community {
    display: flex;
    flex-wrap: wrap;
    @include center(100%);
    padding: 1rem;
    @include for-laptop {
        width: 75%;
        flex-grow: 1;
        margin-left: 10px;
    }
    &__project-card {
        @include center(90%);
        background: $code-background;
        border-radius: 8px;
        color: $white;
        margin-bottom: 32px;
        @include for-laptop {
            width: 47%;
            margin-left: 20px;
        }
    }
    &__info {
        @include flex(flex-start, space-between, column);
        padding: 1rem;
        &--title {
            font-weight: 700;
            font-size: $fsz-title;
            padding: 1rem;
        }
        &--details {
            font-size: $fsz-body;
            opacity: 0.8;
            padding: 1rem;
        }
        &--hidden-info {
            display: none;
        }
        @include transition-ease;
        &:hover &--hidden-info {
            width: 100%;
            @include flex(center, space-between, row);
            padding: 1rem;
        }
        &--reactions {
            display: flex;
        }
        &--comments,
        &--likes,
        &--profile {
            @include flex(center, flex-start, row);
            @include transition-ease;
            &:hover {
                background: $profile-hover;
                border-radius: 16px;
            }
        }
        &--comments,
        &--likes {
            & i {
                padding: 0 0 0 1rem;
            }
            @include transition-ease;
            &:active {
                background: $field-color;
                border-radius: 16px;
            }
        }
        &--profile img {
            padding: 0 0 0 1rem;
        }
    }
}
