.header {
    @include flex(center, space-between, row);
    text-align: center;
    width: 90%;
    margin: 0 auto;
    height: 100px;
    &__logo {
        width: 145px;
        padding: 1rem 0;
    }
    &__buttons {
        @include flex(flex-start, space-between, row);
    }
    &__profile {
        display: none;
        @include for-laptop {
            @include flex(center, flex-end, row);
            padding: 1rem;
            border-radius: 8px;
        }
        &--img {
            width: 32px;
            border-radius: 50%;
            margin-right: 8px;
        }
        &--name {
            color: $white;
            font-size: 16px;
        }
        @include transition-ease;
        &:hover {
            background: $profile-hover;
        }
    }
}

.search-bar {
    display: none;
    @include for-tablet {
        display: block;
        padding: 1rem;
        background-color: $field-color;
        color: $white;
        border-radius: 8px;
        border: transparent;
        font-size: 16px;
        width: 450px;
        height: 56px;
        padding: 1rem;
        margin: 0 auto;
        @include box-shadow-default;
        @include transition-ease;
        &:hover {
            background-color: $field-color-hover;
        }
    }
    @include for-laptop {
        width: 65%;
    }
}

.btn-search,
.btn-toggle,
.btn-close {
    border: none;
    background-color: transparent;
    color: $white;
    padding: 1rem;
    cursor: pointer;
    border-radius: 16px;
    @include for-laptop {
        display: none;
    }
    @include transition-ease;
    &:hover {
        background: $button-background;
    }
    &:active {
        background: $button-active;
    }
}

.btn-search {
    @include for-tablet {
        display: none;
    }
}

.btn-close {
    display: none;
}
