.menu {
    display: none;
    padding: 1rem 0;
    @include for-laptop {
        display: block;
        width: 15%;
        margin: 0;
    }
    &__item {
        @include flex(center, flex-start, row);
        text-decoration: none;
        color: $title-color;
        margin-bottom: 14px;
        @include transition-ease;
        &:hover .btn-code,
        &:hover .btn-users {
            border-radius: 16px;
            background: $user-hover;
        }
        &:active .btn-code,
        &:active .btn-users {
            background: $blue;
        }
    }
}

.btn-code,
.btn-users {
    @include flex(center, center, row);
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: $user-background;
    color: $white;
    margin-right: 16px;
    @include transition-ease;
    & i {
        width: 20px;
    }
    &:focus {
        background-color: $blue;
    }
}
