/*
* Colors
*/
$dark-blue: #051d3b;
$blue: #5081fb;
$light-blue: #7ba4fc;
$lighter-blue: #96b9fd;
$white: #fff;
$dark-grey: #141414;

$menu-background: #2d415b;
$code-background: rgba(0, 0, 0, 0.16);

$field-color: rgba(255, 255, 255, 0.16);
$field-color-hover: rgba(255, 255, 255, 0.24);
$title-color: rgba(255, 255, 255, 0.7);

$user-background: rgba(80, 129, 251, 0.16);
$user-hover: rgba(80, 129, 251, 0.64);

$button-background: rgba(80, 129, 251, 0.08);
$button-active: rgba(80, 129, 251, 0.16);
$button-border: 4px solid rgba(80, 129, 251, 0.72);
$button-focus: rgba(80, 129, 251, 0.24);
$profile-hover: rgba(255, 255, 255, 0.08);

/*
* Font Size
*/
$fsz-title: 21px;
$fsz-body: 16px;
$fsz-aside: 12px;

/*
* Font Family
*/
$ff-default: 'Inter', sans-serif;
$ff-code: 'Roboto Mono', monospace;

/*
* Mixins
*/

@mixin center($width) {
    width: $width;
    margin: 0 auto;
}

@mixin flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin transition-ease {
    transition: all 0.5s ease;
}

@mixin box-shadow-default {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
}

@mixin mac-button($color) {
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 50px;
    margin-right: 5px;
    background: $color;
}

/*
* Media queries
*/

@mixin for-tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin for-laptop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin for-desktop {
    @media screen and (min-width: 1440px) {
        @content;
    }
}
