/* 
*   Partials
*/
@import 'variables', 'header', 'menu', 'code-editor', 'customize', 'community';

/*
* Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*
* Mini Reset
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-blue;
  font-family: $ff-default;
}

/* 
* Outline of textarea
*/
textarea:focus-visible {
  outline: none;
}

/*
* Global Styles
*/
.main {
  @include for-laptop {
    @include flex(flex-start, space-between, row);
    @include center(90%);
  }
}

.title {
  font-size: $fsz-aside;
  color: $title-color;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-bottom: 10px;
  font-weight: 200;
}

.active {
  & div {
    background-color: $blue;
  }
  & p {
    color: $white;
  }
}

.show-menu {
  right: 15px;
}

.hide {
  display: none;
}

.opacity {
  opacity: 0;
}

code {
  font-family: $ff-code;
}
