@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  height: 100px;
}

.header__logo {
  width: 145px;
  padding: 1rem 0;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__profile {
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .header__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
    border-radius: 8px;
  }
}

.header__profile--img {
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.header__profile--name {
  color: #fff;
  font-size: 16px;
}

.header__profile:hover {
  background: rgba(255, 255, 255, 0.08);
}

.search-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  .search-bar {
    display: block;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.16);
    color: #fff;
    border-radius: 8px;
    border: transparent;
    font-size: 16px;
    width: 450px;
    height: 56px;
    padding: 1rem;
    margin: 0 auto;
    -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .search-bar:hover {
    background-color: rgba(255, 255, 255, 0.24);
  }
}

@media screen and (min-width: 1024px) {
  .search-bar {
    width: 65%;
  }
}

.btn-search,
.btn-toggle,
.btn-close {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  border-radius: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .btn-search,
  .btn-toggle,
  .btn-close {
    display: none;
  }
}

.btn-search:hover,
.btn-toggle:hover,
.btn-close:hover {
  background: rgba(80, 129, 251, 0.08);
}

.btn-search:active,
.btn-toggle:active,
.btn-close:active {
  background: rgba(80, 129, 251, 0.16);
}

@media screen and (min-width: 768px) {
  .btn-search {
    display: none;
  }
}

.btn-close {
  display: none;
}

.menu {
  display: none;
  padding: 1rem 0;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: block;
    width: 15%;
    margin: 0;
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__item:hover .btn-code,
.menu__item:hover .btn-users {
  border-radius: 16px;
  background: rgba(80, 129, 251, 0.64);
}

.menu__item:active .btn-code,
.menu__item:active .btn-users {
  background: #5081fb;
}

.btn-code,
.btn-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  background-color: rgba(80, 129, 251, 0.16);
  color: #fff;
  margin-right: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-code i,
.btn-users i {
  width: 20px;
}

.btn-code:focus,
.btn-users:focus {
  background-color: #5081fb;
}

.code-editor {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  height: 600px;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .code-editor {
    width: 55%;
  }
}

.code-editor__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6bd1ff;
  width: 100%;
  height: 80%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
}

.code-editor__editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.code-editor__mac-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 8px 8px 0 0;
  padding: 1rem;
  height: 20px;
  width: 100%;
  list-style: none;
  background-color: #141414;
}

.code-editor__text {
  width: 100%;
  height: 100%;
  border: none;
  color: #fff;
  padding: 1rem;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  background-color: #141414;
  resize: none;
  border-radius: 0 0 8px 8px;
}

.red-btn {
  height: 12px;
  width: 12px;
  border: none;
  border-radius: 50px;
  margin-right: 5px;
  background: #ff5f56;
}

.yellow-btn {
  height: 12px;
  width: 12px;
  border: none;
  border-radius: 50px;
  margin-right: 5px;
  background: #ffbd2e;
}

.green-btn {
  height: 12px;
  width: 12px;
  border: none;
  border-radius: 50px;
  margin-right: 5px;
  background: #27c93f;
  margin-right: 0;
}

.highlight_btn {
  font-family: "Inter", sans-serif;
  background-color: rgba(80, 129, 251, 0.08);
  border-radius: 8px;
  padding: 1rem;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  margin: 30px auto;
  border: none;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.highlight_btn:hover {
  background: rgba(80, 129, 251, 0.16);
}

.highlight_btn:active {
  background: rgba(80, 129, 251, 0.16);
  border: 4px solid rgba(80, 129, 251, 0.24);
}

.highlight_btn:focus {
  background: rgba(80, 129, 251, 0.24);
}

.customize {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .customize {
    width: 25%;
    margin: 0;
  }
}

.customize__fieldset-details, .customize__fieldset-customize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  border: none;
}

.customize__fieldset-details {
  height: 180px;
}

.customize__fieldset-customize {
  height: 120px;
}

@media screen and (min-width: 768px) {
  .customize__fieldset-customize {
    height: 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .customize__fieldset-customize {
    height: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.customize__project-name, .customize__description, .customize__languages {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.16);
  color: #fff;
  border-radius: 8px;
  border: transparent;
  margin-bottom: 15px;
  font-size: 16px;
  width: 100%;
  height: 56px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.customize__project-name:hover, .customize__description:hover, .customize__languages:hover {
  background: rgba(255, 255, 255, 0.24);
}

.customize__description {
  height: auto;
}

.customize__languages {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .customize__languages {
    margin: 0;
    width: 49%;
  }
}

@media screen and (min-width: 1024px) {
  .customize__languages {
    margin: 0 auto;
    width: 100%;
  }
}

.customize__languages:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.customize__languages option {
  background-color: #2d415b;
}

.customize__color {
  background-color: transparent;
  width: 100%;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  border: transparent;
  overflow: hidden;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
}

@media screen and (min-width: 768px) {
  .customize__color {
    margin: 0;
    width: 49%;
  }
}

@media screen and (min-width: 1024px) {
  .customize__color {
    margin: 0 auto;
    width: 100%;
  }
}

[type='color'] {
  padding: 0;
  border: transparent;
  border-radius: 15px;
}

.customize-btn {
  background-color: #5081fb;
  border-radius: 8px;
  height: 56px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  border: transparent;
  font-size: 16px;
  color: #051d3b;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.customize-btn:hover {
  background: #7ba4fc;
}

.customize-btn:active {
  background: #7ba4fc;
  border: 4px solid rgba(80, 129, 251, 0.72);
}

.customize-btn:focus {
  background: #96b9fd;
}

.community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .community {
    width: 75%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 10px;
  }
}

.community__project-card {
  width: 90%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  color: #fff;
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .community__project-card {
    width: 48%;
    margin-left: 15px;
  }
}

.community__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.community__info--title {
  font-weight: 700;
  font-size: 21px;
  padding: 1rem;
}

.community__info--details {
  font-size: 16px;
  opacity: 0.8;
  padding: 1rem;
}

.community__info--hidden-info {
  display: none;
}

.community__info:hover .community__info--hidden-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
}

.community__info--reactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community__info--comments, .community__info--likes, .community__info--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.community__info--comments:hover, .community__info--likes:hover, .community__info--profile:hover {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
}

.community__info--comments, .community__info--likes {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.community__info--comments i, .community__info--likes i {
  padding: 0 0 0 1rem;
}

.community__info--comments:active, .community__info--likes:active {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
}

.community__info--profile img {
  padding: 0 0 0 1rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #051d3b;
  font-family: "Inter", sans-serif;
}

textarea:focus-visible {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    margin: 0 auto;
  }
}

.title {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-bottom: 10px;
  font-weight: 200;
}

.active div {
  background-color: #5081fb;
}

.active p {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */